.container{
  overflow: hidden;
  border: solid 2px hsl(206, 85%, 43%, 0.8);
  border-radius: 12px;
  &:hover{
    border-radius: 12px;
  }
}
.image{
    width: 20vw;
    height: 32vh;
    border-radius: 10px;
    transition: all;
    transition-duration: 0.8s;
    &:hover{
      transform: scale(1.25);
    }
}
.list{
  list-style-type: none;
  position: relative;
}
.info{
  position: absolute;
  z-index: 100;
  bottom: 0;
  width: 20vw;
  background-color: hsl(206, 85%, 43%, 0.9);
}
.genre{
  display: flex;
  align-items: center;
    justify-content: center;
    margin: 0;
    gap: 15px;
}
.rating{
  display: flex;
  align-items: center;
    justify-content: center;
    margin: 0;
    gap: 15px;
}
.title{
  margin: 0;
  color: hsl(89, 23%, 77%);
}
.divInfo{
  margin: 0;
  color: hsl(89, 23%, 77%);
}
.titleInfo{
  margin: 0;
  color: hsl(89, 23%, 77%);
}