.container{
    height: 94.3vh;
    position: relative;
    background: url('../Home/BackgroundImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.button{
    margin-top: 20px;
    border-radius: 10px;
    transition: all;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #f0d58c;
background-image: linear-gradient(146deg, #093d304f 0%, #107acb 100%);
text-decoration: none;
font-weight: bold;
color: rgb(186, 207, 245);
&:hover{
    transition-duration: 0.4s;
    background-image: linear-gradient(146deg, #093d304f 10%, #107acb 90%);
    box-shadow: 0 1px 6px 0px rgba(255, 255, 255, 0.3);
};
&:active{
    transition-duration: 0.3s;
    transform: scale(0.95);
}
}
.title{
    margin-top: 25px;
    color: #051f18ec;
    text-decoration: underline;
}

.form{
    display: flex;
    backdrop-filter: blur(5px);
    flex-direction: column;
    border: solid 1px black;
    align-items: center;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 25em;
    top: 10em;
}

.important{
    font-weight: bold;
}